services:
  api-gateway-service:
    build:
      context: ./api-gateway-service
      dockerfile: Dockerfile
    image: api-gateway-service
    container_name: api-gateway-service
    ports:
      - "8080:8080"

  storage-gateway-service:
    build:
      context: ./storage-gateway-service
      dockerfile: Dockerfile
    image: storage-gateway-service
    container_name: storage-gateway-service
    expose:
      - "8080"
    env_file:
      - .env
    depends_on:
      minio:
        condition: service_healthy

  task-manager-service:
    build:
      context: ./task-manager-service
      dockerfile: Dockerfile
    image: task-manager-service
    container_name: task-manager-service
    ports:
      - "8081:8080"
    env_file:
      - ./task-manager-service/.env
    depends_on:
      minio:
        condition: service_healthy

  minio:
    image: minio/minio:latest
    command: server --console-address ":9001" /data/
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: tarantul
      MINIO_ROOT_PASSWORD: tarantul123
      MINIO_NOTIFY_WEBHOOK_ENABLE_PRIMARY: on
      MINIO_NOTIFY_WEBHOOK_ENDPOINT_PRIMARY: http://storage-notifications-service:8081/webhook/
    volumes:
      - minio-storage:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
  
  minio-init:
    image: minio/mc:latest
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: ["/bin/sh", "/init-minio.sh"]
    volumes:
      - ./minio-init/init-minio.sh:/init-minio.sh:ro

  mongo:
    image: mongo:7
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
  minio-storage: