services:
  api-gateway:
    build:
      context: ./api-gateway-service
      dockerfile: Dockerfile
    image: api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"

  storage-gateway-service:
    build:
      context: ./storage-gateway-service
      dockerfile: Dockerfile
    container_name: storage-gateway-service
    expose:
      - "8080"
    env_file:
      - .env
    depends_on:
      minio:
        condition: service_healthy

  minio:
    image: minio/minio:latest
    command: server --console-address ":9001" /data/
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: tarantul
      MINIO_ROOT_PASSWORD: tarantul123
      MINIO_NOTIFY_WEBHOOK_ENABLE_PRIMARY: on
      MINIO_NOTIFY_WEBHOOK_ENDPOINT_PRIMARY: http://storage-notifications-service:8081/webhook/
    volumes:
      - minio-storage:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
  
  minio-init:
    image: minio/mc:latest
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: ["/bin/sh", "/init-minio.sh"]
    volumes:
      - ./minio-init/init-minio.sh:/init-minio.sh:ro

volumes:
  minio-storage: